<header class="header">
    <div class="col-xs-6 col-sm-6" style="padding:0;">
        <span class="app-branding" title="Home">{{ 'siteName' | siteConfig }}</span>
        <nav class="utilityLinksNav">
            <ul class="utilityLinks">
                <li><strong style="margin-right:10px;"><span id="name">Satoshi</span></strong> <a id="lg" ng-href="/Login">Logout</a></li>
                <li><a ng-href="#!/help">Help</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-6 col-sm-6" style="padding:0;">
        <a class="ci" title="Fuji Xerox"><span class="fujixerox-logo"></span></a>
    </div>
</header>