<div class="modal-header">
    <h3>{{ route ? 'Edit Route' : 'Add Route'}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="route.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea class="form-control" ng-model="route.description"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-ng-click="options.add()">{{ route ? 'Update' : 'Add' }}</button>
    <button class="btn" data-ng-click="options.cancel();">Cancel</button>
</div>